/*-- CSS OF LBIF */

.n_lbif
{
    width:100vw;
    height:60vh;
    background-color: #8B7D8C;
    margin-top:5%;
}

.n_p1
{
    color:rgb(239, 239, 239);
    text-align: center;
    letter-spacing: 4px;
    padding-top: 4%;
    font-size: 32px;
    display: block;
    font-weight: 300;
}

.n_p2
{
    text-align: center;
    font-weight: 300;
    color:rgb(239, 239, 239);
    font-size: 16px;
}

.n_p3
{
    color:rgb(239, 239, 239);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.n_p4
{
    color:rgb(239, 239, 239);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.button {
    padding: 0.75rem 1.25rem;
    color: #272227;
    background-color: transparent;
    border: solid 2px #272227;
    display: inline-block;
    text-align: center;
    margin-left:40%;
    margin-top: 3%;
    letter-spacing: 4px;
}
.button:hover{
    background-color:rgba(240,240,240,0.25);;
    
}

.button.lightButton {
    color: #efefef;
    border-color: #efefef;
}

a:hover{
    text-decoration: none;
}

a:visited, a:active, a:focus {
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 400;
    color: #878387;
    font-size: 0.875rem;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

